<footer class="container-fluid">
  <div class="row">

    <div class="col-md-4 col-xs-10 logo">
      <a href="index.html">
        <img alt="manarifilmart" src="assets/img/logo.png" class="border img" />
      </a>
      <a href="https://www.facebook.com/pages/Espiazioni-Atonement-Cortometraggio/375011795974533" target="_blank">
        <img alt="facebook" src="assets/img/facebook.png" class="border img" />
      </a>
    </div>
    <div class="col-md-4 col-xs-1"></div>

    <div class="col-md-4 col-xs-1 text-right copyright">Copyright &copy; ManarìFilmArts All Rights Reserved</div>
  </div>
</footer>
