
<div class="menu">
  <div class="menuentry"><a href="index.html">Home</a></div>
  <div class="menuentry"><a href="about.html">About</a></div>
  <div class="menuentry"><a href="cast.html">Cast</a></div>
  <div class="menuentry"><a href="crew.html">Crew</a></div>
  <div class="menuentry"><a href="news.html">News</a></div>
  <div class="menuentry"><a href="sponsors.html">Sponsors</a></div>
  <div class="menuentry"><a href="trailer.html">Trailer</a></div>
  <div class="menuentry"><a href="contact.html">Contact</a></div>
</div>
