---
---

@import fonts, colors, style, mixins

html
  width: 100%
  height: 100%

body
  font: 100% $font2, sans-serif
  height: 100%
  width: 100%
  margin: 0
  background-color: $dark
  color: $black
  #body
    height: auto
    min-height: 100%

footer
  font-family: $font3
  color: $white
  opacity: 0.8
  position: relative
  margin-top: -55px
  width: 100%
  clear: both
  .logo, .copyright
    line-height: 40px
    font-size: 13px
  img
    margin: 0 5px
    height: 40px
    width: auto
    opacity: 0.4
    @include transition(opacity 0.4s ease-out)
    &:hover
      opacity: 0.8


h1
  font-family: $font1
  color: $white
h2
  font-family: $font1
h3
  font-family: $font3
  text-align: right
  margin-right: 25px

button
  border: 0
  cursor: pointer

hr
  border-style: solid
  border-color: $black
  border-radius: $border-radius

.link
  color: $orange
  font-family: $font2
  text-decoration: none
  &:hover
    text-decoration: underline
  &:visited
    color: $orange
.whited
  background-color: $white
.border
  border-radius: $border-radius
.border-colored
  border-radius: $border-radius
  border-style: solid !important
  border-width: 3px !important
  border-color: $dark !important
.flex
  display: flex

.space-buffer
  height: 120px
.half-space-buffer
  height: 60px
.quarter-space-buffer
  height: 30px

.top-buffer
  margin-top: 120px
.half-top-buffer
  margin-top: 60px
.quarter-top-buffer
  margin-top: 20px

.jumbotron
  @include jumbotron
  background-image: url(http://placehold.it/1600x900)
.jumbotron-contact
  @include jumbotron
  @include overlay
  background-image: url(../img/contact-head.jpg)
.jumbotron-trailer
  @include jumbotron
  @include overlay
  background-position: 50% 50%
  background-image: url(../img/trailer-head.jpg)
.jumbotron-sponsors
  @include jumbotron
  @include overlay
  background-position: 50% 50%
  background-image: url(../img/sponsors-head.jpg)
.jumbotron-synopsis
  @include jumbotron
  @include overlay
  background-position: 50% 40%
  background-image: url(../img/synopsis-head.jpg)
.jumbotron-crew
  @include jumbotron
  @include overlay
  background-position: 50% 40%
  background-image: url(../img/crew-head0.jpg)
.jumbotron-cast
  @include jumbotron
  @include overlay
  background-position: 50% 80%
  background-image: url(../img/cast-head0.jpg)
.jumbotron-news
  @include jumbotron
  @include overlay
  background-position: 50% 30%
  background-image: url(../img/news-head.jpg)
.animated-head
  @include transition(background-image 0.5s ease-in-out)



.center-img
  img
    margin-left: auto
    margin-right: auto
.content-overlay
  margin-top: -80px
  padding: 60px 30px
  background-color: $white
  border-radius: $border-radius
.narrow-content-overlay
  padding: 10px
  background-color: $white
  border-radius: $border-radius
.thumb-overlay
  margin-top: -80px
  border-radius: $border-radius
  img
    border-radius: $border-radius
    border: 5px solid $white
.small-thumb-overlay
  margin-top: -45px
  border-radius: $border-radius
  img
    border-radius: $border-radius
    border: 5px solid $white
.top-overlay
  margin-top: -80px
.top-buffer
  margin-top: 40px
.bottom-buffer
  margin-bottom: 40px
.block-overlay
  .bio
    line-height: 23px
    border-radius: $border-radius
    background-color: $white
    padding: 60px 120px
  .news-content
    img
      background-color: $white
      border-radius: $border-radius
      border: 5px solid $white
  .news-title
    background-color: $white
    border-radius: $border-radius
    padding: 60px 30px
    margin-top: 15px
    margin-bottom: 15px


.btn
  cursor: pointer
  display: inline-block
  position: relative
  text-decoration: none
  font-family: $font3
  background-color: $dark
  color: $yellow
  padding: 8px 12px
  line-height: 18px
  border-radius: $border-radius
  @include transition(color 0.3s cubic-bezier(0.75, 0, 0.125, 1), background-color 0.3s ease-in-out)
  &:before
    cursor: pointer
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    content: ''
    opacity: 0
    border-radius: $border-radius
    border: 1px solid $orange
    @include scale(0.6, 0.6, 1)
    @include transition(opacity 0.3s cubic-bezier(0.75, 0, 0.125, 1), border 0.3s cubic-bezier(0.75, 0, 0.125, 1), transform 0.3s cubic-bezier(0.75, 0, 0.125, 1))
  &:focus
    outline: none
  &:hover
    color: $orange
    background-color: $white
    &:before
      @include scale(1, 1, 1)
      border: 2px solid
      opacity: 1


.menu
  display: block
  width: 100%
  padding: 0
  text-align: center
  font-family: $font1
  .menuentry
    display: inline-block
    position: relative
    width: 10%
    text-align: center
    cursor: pointer
    a
      display: block
      padding: 15px 0
      text-decoration: none
      color: $orange
      border-radius: $border-radius
      @include transition(color 0.3s cubic-bezier(0.75, 0, 0.125, 1), background-color 0.5s ease-in-out)
      &:hover
        color: $orange
        background-color: $white


.cs-text
  display: block
  &.cs-text-inactive
    display: none
  &.cs-text-active
    display: block

.hidden-block
  visibility: hidden
.post-date
  font-style: italic
.t0
  @include animation-duration(0.75s)
.t1
  @include animation-delay(0.5s)
  @include animation-duration(0.75s)
.t2
  @include animation-delay(1s)
  @include animation-duration(0.75s)
.t3
  @include animation-delay(1.5s)
  @include animation-duration(0.75s)
.t4
  @include animation-delay(2s)
  @include animation-duration(0.75s)
