---
---

@import fonts, colors

@import bootstrap/variables
@import bootstrap/mixins/clearfix
@import bootstrap/mixins/grid-framework
@import bootstrap/mixins/grid
@import bootstrap/grid

body
  font: 100% $font2, sans-serif

h1
  font-family: $font1
  color: $blue
